ul{
    list-style-type: none;
}
li{
    display: inline-block;
    vertical-align: middle;
}
img{
    border: 0.4rem solid black;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    background-color: white;
}
body{
    background-color: rgb(238, 238, 238);
}