article{
    background: rgb(51, 102, 153);
    border-radius: 1rem;
}
html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-family: Georgia, serif;
    padding-left: 20px;
    padding-top: 20px;
}
header{
    
}
p{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}